infra/main.json
{
  "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
  "languageVersion": "2.0",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.41.2.15936",
      "templateHash": "7703486287818194448"
    }
  },
  "parameters": {
    "environmentName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 64,
      "metadata": {
        "description": "環境名（リソース名の接頭辞に使用）"
      }
    },
    "location": {
      "type": "string",
      "minLength": 1,
      "metadata": {
        "description": "Azure リージョン"
      }
    },
    "imageName": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "コンテナイメージ名（azd が自動設定する）"
      }
    },
    "voiceSpaClientId": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Voice Live SPA アプリの Client ID（postprovision で設定）"
      }
    },
    "managerApprovalTriggerUrl": {
      "type": "securestring",
      "defaultValue": "",
      "metadata": {
        "description": "上司承認 workflow の HTTP trigger URL（Teams 対応 workflow を手動構成して設定）"
      }
    },
    "postApprovalTeamsConnectionName": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "承認後通知に使う Microsoft Teams connection resource 名（例: teams-1）。空なら Teams チャネル通知は無効"
      }
    },
    "postApprovalTeamsTeamId": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "承認後通知先の Team ID。空なら Teams チャネル通知は無効"
      }
    },
    "postApprovalTeamsChannelId": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "承認後通知先の Channel ID。空なら Teams チャネル通知は無効"
      }
    },
    "postApprovalSharePointSiteId": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "承認後に成果物を保存する SharePoint site ID。空なら SharePoint 保存は無効"
      }
    },
    "imageProjectEndpointMai": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "MAI-Image-2 用の別 Azure AI / Foundry アカウント endpoint（任意）"
      }
    },
    "maiResourceName": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "MAI-Image-2 用の別 Azure AI / Foundry アカウント名（同一 RG 前提、任意）"
      }
    }
  },
  "variables": {
    "$fxv#0": {
      "resourceGroup": "rg-",
      "logAnalytics": "log-",
      "appInsights": "appi-",
      "containerRegistry": "cr",
      "keyVault": "kv-",
      "aiFoundry": "ais",
      "aiProject": "aip-",
      "apim": "apim-",
      "functionApp": "func-",
      "funcStorage": "stfn",
      "logicApp": "logic-",
      "containerAppsEnv": "cae-",
      "containerApp": "ca-",
      "cosmosDb": "cosmos-"
    },
    "abbrs": "[variables('$fxv#0')]",
    "resourceToken": "[toLower(uniqueString(subscription().id, parameters('environmentName'), parameters('location')))]",
    "tags": {
      "azd-env-name": "[parameters('environmentName')]"
    },
    "apimName": "[format('{0}{1}', variables('abbrs').apim, variables('resourceToken'))]",
    "defaultModelDeploymentName": "gpt-5-4-mini",
    "defaultImageModelDeploymentName": "gpt-image-1.5",
    "aiServicesApiBase": "[format('https://{0}{1}.services.ai.azure.com', variables('abbrs').aiFoundry, variables('resourceToken'))]",
    "improvementMcpEndpoint": "[format('https://{0}.azure-api.net/improvement-mcp/runtime/webhooks/mcp', variables('apimName'))]"
  },
  "resources": {
    "rg": {
      "type": "Microsoft.Resources/resourceGroups",
      "apiVersion": "2024-07-01",
      "name": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "location": "[parameters('location')]",
      "tags": "[variables('tags')]"
    },
    "logAnalytics": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "log-analytics",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "name": {
            "value": "[format('{0}{1}', variables('abbrs').logAnalytics, variables('resourceToken'))]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[variables('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "9899552848505943973"
            }
          },
          "parameters": {
            "name": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            }
          },
          "resources": [
            {
              "type": "Microsoft.OperationalInsights/workspaces",
              "apiVersion": "2023-09-01",
              "name": "[parameters('name')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "sku": {
                  "name": "PerGB2018"
                },
                "retentionInDays": 30
              }
            }
          ],
          "outputs": {
            "id": {
              "type": "string",
              "value": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('name'))]"
            },
            "name": {
              "type": "string",
              "value": "[parameters('name')]"
            }
          }
        }
      },
      "dependsOn": [
        "rg"
      ]
    },
    "appInsights": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "app-insights",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "name": {
            "value": "[format('{0}{1}', variables('abbrs').appInsights, variables('resourceToken'))]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[variables('tags')]"
          },
          "logAnalyticsWorkspaceId": {
            "value": "[reference('logAnalytics').outputs.id.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "6533905253552520876"
            }
          },
          "parameters": {
            "name": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "logAnalyticsWorkspaceId": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Insights/components",
              "apiVersion": "2020-02-02",
              "name": "[parameters('name')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "kind": "web",
              "properties": {
                "Application_Type": "web",
                "WorkspaceResourceId": "[parameters('logAnalyticsWorkspaceId')]"
              }
            }
          ],
          "outputs": {
            "id": {
              "type": "string",
              "value": "[resourceId('Microsoft.Insights/components', parameters('name'))]"
            },
            "name": {
              "type": "string",
              "value": "[parameters('name')]"
            },
            "connectionString": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Insights/components', parameters('name')), '2020-02-02').ConnectionString]"
            },
            "instrumentationKey": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Insights/components', parameters('name')), '2020-02-02').InstrumentationKey]"
            }
          }
        }
      },
      "dependsOn": [
        "logAnalytics",
        "rg"
      ]
    },
    "acr": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "container-registry",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "name": {
            "value": "[format('{0}{1}', variables('abbrs').containerRegistry, variables('resourceToken'))]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[variables('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "16049998327211611278"
            }
          },
          "parameters": {
            "name": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            }
          },
          "resources": [
            {
              "type": "Microsoft.ContainerRegistry/registries",
              "apiVersion": "2023-11-01-preview",
              "name": "[parameters('name')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "sku": {
                "name": "Basic"
              },
              "properties": {
                "adminUserEnabled": false
              }
            }
          ],
          "outputs": {
            "id": {
              "type": "string",
              "value": "[resourceId('Microsoft.ContainerRegistry/registries', parameters('name'))]"
            },
            "name": {
              "type": "string",
              "value": "[parameters('name')]"
            },
            "loginServer": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.ContainerRegistry/registries', parameters('name')), '2023-11-01-preview').loginServer]"
            }
          }
        }
      },
      "dependsOn": [
        "rg"
      ]
    },
    "keyVault": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "key-vault",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "name": {
            "value": "[format('{0}{1}', variables('abbrs').keyVault, variables('resourceToken'))]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[variables('tags')]"
          },
          "privateEndpointsSubnetId": {
            "value": "[reference('vnet').outputs.privateEndpointsSubnetId.value]"
          },
          "vnetId": {
            "value": "[reference('vnet').outputs.id.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "7886966258636954046"
            }
          },
          "parameters": {
            "name": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "privateEndpointsSubnetId": {
              "type": "string",
              "defaultValue": ""
            },
            "vnetId": {
              "type": "string",
              "defaultValue": ""
            }
          },
          "resources": [
            {
              "type": "Microsoft.KeyVault/vaults",
              "apiVersion": "2023-07-01",
              "name": "[parameters('name')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "sku": {
                  "family": "A",
                  "name": "standard"
                },
                "tenantId": "[subscription().tenantId]",
                "enableRbacAuthorization": true,
                "enableSoftDelete": true,
                "enablePurgeProtection": true,
                "softDeleteRetentionInDays": 7,
                "publicNetworkAccess": "Disabled"
              }
            },
            {
              "condition": "[not(empty(parameters('privateEndpointsSubnetId')))]",
              "type": "Microsoft.Network/privateEndpoints",
              "apiVersion": "2024-05-01",
              "name": "[format('pep-{0}', parameters('name'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "subnet": {
                  "id": "[parameters('privateEndpointsSubnetId')]"
                },
                "privateLinkServiceConnections": [
                  {
                    "name": "[format('{0}-connection', parameters('name'))]",
                    "properties": {
                      "privateLinkServiceId": "[resourceId('Microsoft.KeyVault/vaults', parameters('name'))]",
                      "groupIds": [
                        "vault"
                      ]
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.KeyVault/vaults', parameters('name'))]"
              ]
            },
            {
              "condition": "[not(empty(parameters('privateEndpointsSubnetId')))]",
              "type": "Microsoft.Network/privateDnsZones",
              "apiVersion": "2024-06-01",
              "name": "privatelink.vaultcore.azure.net",
              "location": "global",
              "tags": "[parameters('tags')]"
            },
            {
              "condition": "[not(empty(parameters('privateEndpointsSubnetId')))]",
              "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
              "apiVersion": "2024-06-01",
              "name": "[format('{0}/{1}', 'privatelink.vaultcore.azure.net', format('{0}-vnet-link', parameters('name')))]",
              "location": "global",
              "properties": {
                "virtualNetwork": {
                  "id": "[parameters('vnetId')]"
                },
                "registrationEnabled": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.vaultcore.azure.net')]"
              ]
            },
            {
              "condition": "[not(empty(parameters('privateEndpointsSubnetId')))]",
              "type": "Microsoft.Network/privateEndpoints/privateDnsZoneGroups",
              "apiVersion": "2024-05-01",
              "name": "[format('{0}/{1}', format('pep-{0}', parameters('name')), 'default')]",
              "properties": {
                "privateDnsZoneConfigs": [
                  {
                    "name": "vault-config",
                    "properties": {
                      "privateDnsZoneId": "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.vaultcore.azure.net')]"
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.vaultcore.azure.net')]",
                "[resourceId('Microsoft.Network/privateEndpoints', format('pep-{0}', parameters('name')))]"
              ]
            }
          ],
          "outputs": {
            "id": {
              "type": "string",
              "value": "[resourceId('Microsoft.KeyVault/vaults', parameters('name'))]"
            },
            "name": {
              "type": "string",
              "value": "[parameters('name')]"
            }
          }
        }
      },
      "dependsOn": [
        "rg",
        "vnet"
      ]
    },
    "aiFoundry": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "ai-foundry",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "name": {
            "value": "[format('{0}{1}', variables('abbrs').aiFoundry, variables('resourceToken'))]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[variables('tags')]"
          },
          "modelDeploymentName": {
            "value": "[variables('defaultModelDeploymentName')]"
          },
          "imageModelDeploymentName": {
            "value": "[variables('defaultImageModelDeploymentName')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "7244403325358407731"
            }
          },
          "parameters": {
            "name": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "modelDeploymentName": {
              "type": "string",
              "defaultValue": "gpt-5-4-mini"
            },
            "imageModelDeploymentName": {
              "type": "string",
              "defaultValue": "gpt-image-1.5"
            }
          },
          "resources": [
            {
              "type": "Microsoft.CognitiveServices/accounts",
              "apiVersion": "2025-06-01",
              "name": "[parameters('name')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "kind": "AIServices",
              "identity": {
                "type": "SystemAssigned"
              },
              "sku": {
                "name": "S0"
              },
              "properties": {
                "allowProjectManagement": true,
                "customSubDomainName": "[toLower(parameters('name'))]",
                "disableLocalAuth": true,
                "publicNetworkAccess": "Enabled"
              }
            },
            {
              "type": "Microsoft.CognitiveServices/accounts/deployments",
              "apiVersion": "2025-06-01",
              "name": "[format('{0}/{1}', parameters('name'), parameters('modelDeploymentName'))]",
              "sku": {
                "capacity": 100,
                "name": "GlobalStandard"
              },
              "properties": {
                "model": {
                  "name": "gpt-5.4-mini",
                  "format": "OpenAI",
                  "version": "2026-03-17"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.CognitiveServices/accounts', parameters('name'))]"
              ]
            },
            {
              "type": "Microsoft.CognitiveServices/accounts/deployments",
              "apiVersion": "2025-06-01",
              "name": "[format('{0}/{1}', parameters('name'), parameters('imageModelDeploymentName'))]",
              "sku": {
                "capacity": 9,
                "name": "GlobalStandard"
              },
              "properties": {
                "model": {
                  "name": "gpt-image-1.5",
                  "format": "OpenAI",
                  "version": "2025-12-16"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.CognitiveServices/accounts', parameters('name'))]",
                "[resourceId('Microsoft.CognitiveServices/accounts/deployments', parameters('name'), parameters('modelDeploymentName'))]"
              ]
            }
          ],
          "outputs": {
            "id": {
              "type": "string",
              "value": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('name'))]"
            },
            "name": {
              "type": "string",
              "value": "[parameters('name')]"
            },
            "endpoint": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.CognitiveServices/accounts', parameters('name')), '2025-06-01').endpoint]"
            },
            "principalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.CognitiveServices/accounts', parameters('name')), '2025-06-01', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "rg"
      ]
    },
    "aiProject": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "ai-project",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "name": {
            "value": "[format('{0}{1}', variables('abbrs').aiProject, variables('resourceToken'))]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[variables('tags')]"
          },
          "aiFoundryName": {
            "value": "[reference('aiFoundry').outputs.name.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "15155420901916457085"
            }
          },
          "parameters": {
            "name": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "aiFoundryName": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.CognitiveServices/accounts/projects",
              "apiVersion": "2025-06-01",
              "name": "[format('{0}/{1}', parameters('aiFoundryName'), parameters('name'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {}
            }
          ],
          "outputs": {
            "id": {
              "type": "string",
              "value": "[resourceId('Microsoft.CognitiveServices/accounts/projects', parameters('aiFoundryName'), parameters('name'))]"
            },
            "name": {
              "type": "string",
              "value": "[parameters('name')]"
            },
            "principalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.CognitiveServices/accounts/projects', parameters('aiFoundryName'), parameters('name')), '2025-06-01', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "aiFoundry",
        "rg"
      ]
    },
    "vnet": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "vnet",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "name": {
            "value": "[format('vnet-{0}', variables('resourceToken'))]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[variables('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "9633735603092962136"
            }
          },
          "parameters": {
            "name": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            }
          },
          "resources": [
            {
              "type": "Microsoft.Network/virtualNetworks",
              "apiVersion": "2024-05-01",
              "name": "[parameters('name')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "addressSpace": {
                  "addressPrefixes": [
                    "10.0.0.0/16"
                  ]
                },
                "subnets": [
                  {
                    "name": "snet-container-apps",
                    "properties": {
                      "addressPrefix": "10.0.0.0/23",
                      "delegations": [
                        {
                          "name": "Microsoft.App.environments",
                          "properties": {
                            "serviceName": "Microsoft.App/environments"
                          }
                        }
                      ]
                    }
                  },
                  {
                    "name": "snet-private-endpoints",
                    "properties": {
                      "addressPrefix": "10.0.2.0/24"
                    }
                  }
                ]
              }
            }
          ],
          "outputs": {
            "id": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/virtualNetworks', parameters('name'))]"
            },
            "name": {
              "type": "string",
              "value": "[parameters('name')]"
            },
            "containerAppsSubnetId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Network/virtualNetworks', parameters('name')), '2024-05-01').subnets[0].id]"
            },
            "privateEndpointsSubnetId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Network/virtualNetworks', parameters('name')), '2024-05-01').subnets[1].id]"
            }
          }
        }
      },
      "dependsOn": [
        "rg"
      ]
    },
    "containerAppsEnv": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "container-apps-env",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "name": {
            "value": "[format('{0}{1}', variables('abbrs').containerAppsEnv, variables('resourceToken'))]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[variables('tags')]"
          },
          "logAnalyticsWorkspaceId": {
            "value": "[reference('logAnalytics').outputs.id.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "9082369741267997682"
            }
          },
          "parameters": {
            "name": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "logAnalyticsWorkspaceId": {
              "type": "string"
            },
            "subnetId": {
              "type": "string",
              "defaultValue": ""
            }
          },
          "resources": [
            {
              "type": "Microsoft.App/managedEnvironments",
              "apiVersion": "2024-03-01",
              "name": "[parameters('name')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "appLogsConfiguration": {
                  "destination": "log-analytics",
                  "logAnalyticsConfiguration": {
                    "customerId": "[reference(resourceId('Microsoft.OperationalInsights/workspaces', last(split(parameters('logAnalyticsWorkspaceId'), '/'))), '2023-09-01').customerId]",
                    "sharedKey": "[listKeys(resourceId('Microsoft.OperationalInsights/workspaces', last(split(parameters('logAnalyticsWorkspaceId'), '/'))), '2023-09-01').primarySharedKey]"
                  }
                },
                "vnetConfiguration": "[if(not(empty(parameters('subnetId'))), createObject('infrastructureSubnetId', parameters('subnetId'), 'internal', false()), null())]"
              }
            }
          ],
          "outputs": {
            "id": {
              "type": "string",
              "value": "[resourceId('Microsoft.App/managedEnvironments', parameters('name'))]"
            },
            "name": {
              "type": "string",
              "value": "[parameters('name')]"
            }
          }
        }
      },
      "dependsOn": [
        "logAnalytics",
        "rg"
      ]
    },
    "containerApp": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "container-app",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "name": {
            "value": "[format('{0}{1}', variables('abbrs').containerApp, variables('resourceToken'))]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[variables('tags')]"
          },
          "containerAppsEnvironmentId": {
            "value": "[reference('containerAppsEnv').outputs.id.value]"
          },
          "containerRegistryName": {
            "value": "[reference('acr').outputs.name.value]"
          },
          "imageName": "[if(not(empty(parameters('imageName'))), createObject('value', parameters('imageName')), createObject('value', 'mcr.microsoft.com/azuredocs/containerapps-helloworld:latest'))]",
          "keyVaultName": {
            "value": "[reference('keyVault').outputs.name.value]"
          },
          "appInsightsConnectionString": {
            "value": "[reference('appInsights').outputs.connectionString.value]"
          },
          "modelName": {
            "value": "[variables('defaultModelDeploymentName')]"
          },
          "projectEndpoint": {
            "value": "[format('https://{0}.services.ai.azure.com/api/projects/{1}', reference('aiFoundry').outputs.name.value, reference('aiProject').outputs.name.value)]"
          },
          "imageProjectEndpointMai": {
            "value": "[parameters('imageProjectEndpointMai')]"
          },
          "cosmosDbEndpoint": {
            "value": "[reference('cosmosDb').outputs.endpoint.value]"
          },
          "contentUnderstandingEndpoint": {
            "value": "[variables('aiServicesApiBase')]"
          },
          "speechServiceEndpoint": {
            "value": "[reference('aiFoundry').outputs.endpoint.value]"
          },
          "speechServiceRegion": {
            "value": "[parameters('location')]"
          },
          "logicAppCallbackUrl": {
            "value": "[listOutputsWithSecureValues('logicApp', '2025-04-01').callbackUrl]"
          },
          "managerApprovalTriggerUrl": {
            "value": "[parameters('managerApprovalTriggerUrl')]"
          },
          "voiceSpaClientId": {
            "value": "[parameters('voiceSpaClientId')]"
          },
          "tenantId": {
            "value": "[tenant().tenantId]"
          },
          "improvementMcpEndpoint": {
            "value": "[variables('improvementMcpEndpoint')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "1863573869286756417"
            }
          },
          "parameters": {
            "name": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "containerAppsEnvironmentId": {
              "type": "string"
            },
            "containerRegistryName": {
              "type": "string"
            },
            "imageName": {
              "type": "string"
            },
            "keyVaultName": {
              "type": "string"
            },
            "appInsightsConnectionString": {
              "type": "string"
            },
            "modelName": {
              "type": "string",
              "defaultValue": "gpt-5-4-mini"
            },
            "projectEndpoint": {
              "type": "string",
              "defaultValue": ""
            },
            "imageProjectEndpointMai": {
              "type": "string",
              "defaultValue": ""
            },
            "cosmosDbEndpoint": {
              "type": "string",
              "defaultValue": ""
            },
            "contentUnderstandingEndpoint": {
              "type": "string",
              "defaultValue": ""
            },
            "speechServiceEndpoint": {
              "type": "string",
              "defaultValue": ""
            },
            "speechServiceRegion": {
              "type": "string",
              "defaultValue": ""
            },
            "voiceSpaClientId": {
              "type": "string",
              "defaultValue": ""
            },
            "tenantId": {
              "type": "string",
              "defaultValue": ""
            },
            "improvementMcpEndpoint": {
              "type": "string",
              "defaultValue": ""
            },
            "logicAppCallbackUrl": {
              "type": "securestring",
              "defaultValue": ""
            },
            "managerApprovalTriggerUrl": {
              "type": "securestring",
              "defaultValue": ""
            }
          },
          "variables": {
            "containerSecrets": "[concat(if(not(empty(parameters('logicAppCallbackUrl'))), createArray(createObject('name', 'logic-app-callback-url', 'value', parameters('logicAppCallbackUrl'))), createArray()), if(not(empty(parameters('managerApprovalTriggerUrl'))), createArray(createObject('name', 'manager-approval-trigger-url', 'value', parameters('managerApprovalTriggerUrl'))), createArray()))]",
            "containerEnv": "[concat(createArray(createObject('name', 'APPLICATIONINSIGHTS_CONNECTION_STRING', 'value', parameters('appInsightsConnectionString')), createObject('name', 'SERVE_STATIC', 'value', 'true'), createObject('name', 'MODEL_NAME', 'value', parameters('modelName')), createObject('name', 'ENVIRONMENT', 'value', 'production')), if(not(empty(parameters('projectEndpoint'))), createArray(createObject('name', 'AZURE_AI_PROJECT_ENDPOINT', 'value', parameters('projectEndpoint'))), createArray()), if(not(empty(parameters('imageProjectEndpointMai'))), createArray(createObject('name', 'IMAGE_PROJECT_ENDPOINT_MAI', 'value', parameters('imageProjectEndpointMai'))), createArray()), if(not(empty(parameters('cosmosDbEndpoint'))), createArray(createObject('name', 'COSMOS_DB_ENDPOINT', 'value', parameters('cosmosDbEndpoint'))), createArray()), if(not(empty(parameters('contentUnderstandingEndpoint'))), createArray(createObject('name', 'CONTENT_UNDERSTANDING_ENDPOINT', 'value', parameters('contentUnderstandingEndpoint'))), createArray()), if(not(empty(parameters('speechServiceEndpoint'))), createArray(createObject('name', 'SPEECH_SERVICE_ENDPOINT', 'value', parameters('speechServiceEndpoint'))), createArray()), if(not(empty(parameters('speechServiceRegion'))), createArray(createObject('name', 'SPEECH_SERVICE_REGION', 'value', parameters('speechServiceRegion'))), createArray()), if(not(empty(parameters('logicAppCallbackUrl'))), createArray(createObject('name', 'LOGIC_APP_CALLBACK_URL', 'secretRef', 'logic-app-callback-url')), createArray()), if(not(empty(parameters('managerApprovalTriggerUrl'))), createArray(createObject('name', 'MANAGER_APPROVAL_TRIGGER_URL', 'secretRef', 'manager-approval-trigger-url')), createArray()), if(not(empty(parameters('voiceSpaClientId'))), createArray(createObject('name', 'VOICE_SPA_CLIENT_ID', 'value', parameters('voiceSpaClientId'))), createArray()), if(not(empty(parameters('tenantId'))), createArray(createObject('name', 'AZURE_TENANT_ID', 'value', parameters('tenantId'))), createArray()), if(not(empty(parameters('improvementMcpEndpoint'))), createArray(createObject('name', 'IMPROVEMENT_MCP_ENDPOINT', 'value', parameters('improvementMcpEndpoint'))), createArray()))]"
          },
          "resources": [
            {
              "type": "Microsoft.App/containerApps",
              "apiVersion": "2024-03-01",
              "name": "[parameters('name')]",
              "location": "[parameters('location')]",
              "tags": "[union(parameters('tags'), createObject('azd-service-name', 'web'))]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "managedEnvironmentId": "[parameters('containerAppsEnvironmentId')]",
                "configuration": {
                  "secrets": "[variables('containerSecrets')]",
                  "ingress": {
                    "external": true,
                    "targetPort": 8000,
                    "transport": "auto"
                  },
                  "registries": [
                    {
                      "server": "[reference(resourceId('Microsoft.ContainerRegistry/registries', parameters('containerRegistryName')), '2023-11-01-preview').loginServer]",
                      "identity": "system"
                    }
                  ]
                },
                "template": {
                  "containers": [
                    {
                      "name": "travel-agents",
                      "image": "[parameters('imageName')]",
                      "resources": {
                        "cpu": "[json('1.0')]",
                        "memory": "2Gi"
                      },
                      "env": "[variables('containerEnv')]",
                      "probes": [
                        {
                          "type": "Liveness",
                          "httpGet": {
                            "path": "/api/health",
                            "port": 8000
                          },
                          "periodSeconds": 30,
                          "failureThreshold": 3
                        },
                        {
                          "type": "Readiness",
                          "httpGet": {
                            "path": "/api/ready",
                            "port": 8000
                          },
                          "initialDelaySeconds": 10,
                          "periodSeconds": 10
                        }
                      ]
                    }
                  ],
                  "scale": {
                    "minReplicas": 1,
                    "maxReplicas": 3,
                    "rules": [
                      {
                        "name": "http-rule",
                        "http": {
                          "metadata": {
                            "concurrentRequests": "50"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]",
              "name": "[guid(resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName')), resourceId('Microsoft.App/containerApps', parameters('name')), '4633458b-17de-408a-b874-0445c86b69e6')]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.App/containerApps', parameters('name')), '2024-03-01', 'full').identity.principalId]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '4633458b-17de-408a-b874-0445c86b69e6')]"
              },
              "dependsOn": [
                "[resourceId('Microsoft.App/containerApps', parameters('name'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.ContainerRegistry/registries', parameters('containerRegistryName'))]",
              "name": "[guid(resourceId('Microsoft.ContainerRegistry/registries', parameters('containerRegistryName')), resourceId('Microsoft.App/containerApps', parameters('name')), '7f951dda-4ed3-4680-a7ca-43fe172d538d')]",
              "properties": {
                "principalId": "[reference(resourceId('Microsoft.App/containerApps', parameters('name')), '2024-03-01', 'full').identity.principalId]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '7f951dda-4ed3-4680-a7ca-43fe172d538d')]"
              },
              "dependsOn": [
                "[resourceId('Microsoft.App/containerApps', parameters('name'))]"
              ]
            }
          ],
          "outputs": {
            "id": {
              "type": "string",
              "value": "[resourceId('Microsoft.App/containerApps', parameters('name'))]"
            },
            "name": {
              "type": "string",
              "value": "[parameters('name')]"
            },
            "uri": {
              "type": "string",
              "value": "[format('https://{0}', reference(resourceId('Microsoft.App/containerApps', parameters('name')), '2024-03-01').configuration.ingress.fqdn)]"
            },
            "principalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.App/containerApps', parameters('name')), '2024-03-01', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "acr",
        "aiFoundry",
        "aiProject",
        "appInsights",
        "containerAppsEnv",
        "cosmosDb",
        "keyVault",
        "logicApp",
        "rg"
      ]
    },
    "aiFoundryAppAccess": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "ai-foundry-app-access",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "aiAccountName": {
            "value": "[reference('aiFoundry').outputs.name.value]"
          },
          "principalId": {
            "value": "[reference('containerApp').outputs.principalId.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "2627172113968741176"
            }
          },
          "parameters": {
            "aiAccountName": {
              "type": "string"
            },
            "principalId": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '25fbc0a9-bd7c-42a3-aa1a-3b75d497ee68'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '25fbc0a9-bd7c-42a3-aa1a-3b75d497ee68')]"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '5e0bd9bd-7b93-4f28-af87-19fc36ad61bd'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '5e0bd9bd-7b93-4f28-af87-19fc36ad61bd')]"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '64702f94-c441-49e6-a78b-ef80e0188fee'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '64702f94-c441-49e6-a78b-ef80e0188fee')]"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '53ca6127-db72-4b80-b1b0-d745d6d5456d'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '53ca6127-db72-4b80-b1b0-d745d6d5456d')]"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'a97b65f3-24c7-4388-baec-2e87135dc908'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'a97b65f3-24c7-4388-baec-2e87135dc908')]"
              }
            }
          ]
        }
      },
      "dependsOn": [
        "aiFoundry",
        "containerApp",
        "rg"
      ]
    },
    "maiResourceAppAccess": {
      "condition": "[not(empty(parameters('maiResourceName')))]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "mai-resource-app-access",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "aiAccountName": {
            "value": "[parameters('maiResourceName')]"
          },
          "principalId": {
            "value": "[reference('containerApp').outputs.principalId.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "2627172113968741176"
            }
          },
          "parameters": {
            "aiAccountName": {
              "type": "string"
            },
            "principalId": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '25fbc0a9-bd7c-42a3-aa1a-3b75d497ee68'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '25fbc0a9-bd7c-42a3-aa1a-3b75d497ee68')]"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '5e0bd9bd-7b93-4f28-af87-19fc36ad61bd'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '5e0bd9bd-7b93-4f28-af87-19fc36ad61bd')]"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '64702f94-c441-49e6-a78b-ef80e0188fee'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '64702f94-c441-49e6-a78b-ef80e0188fee')]"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '53ca6127-db72-4b80-b1b0-d745d6d5456d'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '53ca6127-db72-4b80-b1b0-d745d6d5456d')]"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'a97b65f3-24c7-4388-baec-2e87135dc908'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'a97b65f3-24c7-4388-baec-2e87135dc908')]"
              }
            }
          ]
        }
      },
      "dependsOn": [
        "containerApp",
        "rg"
      ]
    },
    "apim": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "api-management",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "name": {
            "value": "[variables('apimName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[variables('tags')]"
          },
          "appInsightsId": {
            "value": "[reference('appInsights').outputs.id.value]"
          },
          "appInsightsInstrumentationKey": {
            "value": "[reference('appInsights').outputs.instrumentationKey.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "2404124516519060274"
            }
          },
          "parameters": {
            "name": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "publisherEmail": {
              "type": "string",
              "defaultValue": "team-d@hackathon.local"
            },
            "publisherName": {
              "type": "string",
              "defaultValue": "Team D Hackathon"
            },
            "appInsightsId": {
              "type": "string"
            },
            "appInsightsInstrumentationKey": {
              "type": "string"
            },
            "aiServicesId": {
              "type": "string",
              "defaultValue": ""
            }
          },
          "resources": [
            {
              "type": "Microsoft.ApiManagement/service",
              "apiVersion": "2024-06-01-preview",
              "name": "[parameters('name')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "sku": {
                "name": "StandardV2",
                "capacity": 1
              },
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "publisherEmail": "[parameters('publisherEmail')]",
                "publisherName": "[parameters('publisherName')]"
              }
            },
            {
              "type": "Microsoft.ApiManagement/service/loggers",
              "apiVersion": "2024-06-01-preview",
              "name": "[format('{0}/{1}', parameters('name'), 'appinsights-logger')]",
              "properties": {
                "loggerType": "applicationInsights",
                "resourceId": "[parameters('appInsightsId')]",
                "credentials": {
                  "instrumentationKey": "[parameters('appInsightsInstrumentationKey')]"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('name'))]"
              ]
            },
            {
              "condition": "[not(empty(parameters('aiServicesId')))]",
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(resourceId('Microsoft.ApiManagement/service', parameters('name')), 'CognitiveServicesUser', parameters('aiServicesId'))]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'a97b65f3-24c7-4388-baec-2e87135dc908')]",
                "principalId": "[reference(resourceId('Microsoft.ApiManagement/service', parameters('name')), '2024-06-01-preview', 'full').identity.principalId]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('name'))]"
              ]
            }
          ],
          "outputs": {
            "id": {
              "type": "string",
              "value": "[resourceId('Microsoft.ApiManagement/service', parameters('name'))]"
            },
            "name": {
              "type": "string",
              "value": "[parameters('name')]"
            },
            "gatewayUrl": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.ApiManagement/service', parameters('name')), '2024-06-01-preview').gatewayUrl]"
            },
            "principalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.ApiManagement/service', parameters('name')), '2024-06-01-preview', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "appInsights",
        "rg"
      ]
    },
    "aiFoundryApimAccess": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "ai-foundry-apim-access",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "aiAccountName": {
            "value": "[reference('aiFoundry').outputs.name.value]"
          },
          "principalId": {
            "value": "[reference('apim').outputs.principalId.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "2627172113968741176"
            }
          },
          "parameters": {
            "aiAccountName": {
              "type": "string"
            },
            "principalId": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '25fbc0a9-bd7c-42a3-aa1a-3b75d497ee68'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '25fbc0a9-bd7c-42a3-aa1a-3b75d497ee68')]"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '5e0bd9bd-7b93-4f28-af87-19fc36ad61bd'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '5e0bd9bd-7b93-4f28-af87-19fc36ad61bd')]"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '64702f94-c441-49e6-a78b-ef80e0188fee'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '64702f94-c441-49e6-a78b-ef80e0188fee')]"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '53ca6127-db72-4b80-b1b0-d745d6d5456d'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '53ca6127-db72-4b80-b1b0-d745d6d5456d')]"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName'))]",
              "name": "[guid(resourceId('Microsoft.CognitiveServices/accounts', parameters('aiAccountName')), subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'a97b65f3-24c7-4388-baec-2e87135dc908'), parameters('principalId'))]",
              "properties": {
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal",
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'a97b65f3-24c7-4388-baec-2e87135dc908')]"
              }
            }
          ]
        }
      },
      "dependsOn": [
        "aiFoundry",
        "apim",
        "rg"
      ]
    },
    "logicApp": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "logic-app",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "name": {
            "value": "[format('{0}{1}', variables('abbrs').logicApp, variables('resourceToken'))]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "teamsConnectionName": {
            "value": "[parameters('postApprovalTeamsConnectionName')]"
          },
          "teamsTargetTeamId": {
            "value": "[parameters('postApprovalTeamsTeamId')]"
          },
          "teamsTargetChannelId": {
            "value": "[parameters('postApprovalTeamsChannelId')]"
          },
          "sharePointSiteId": {
            "value": "[parameters('postApprovalSharePointSiteId')]"
          },
          "tags": {
            "value": "[variables('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "languageVersion": "2.0",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "13748695699157978655"
            }
          },
          "parameters": {
            "name": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "teamsConnectionName": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "承認後通知に使う Microsoft Teams connection resource 名。空なら Teams 通知は無効"
              }
            },
            "teamsTargetTeamId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "承認後通知先の Team ID。空なら Teams 通知は無効"
              }
            },
            "teamsTargetChannelId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "承認後通知先の Channel ID。空なら Teams 通知は無効"
              }
            },
            "sharePointSiteId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "成果物保存先 SharePoint site ID。空なら SharePoint 保存は無効"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            }
          },
          "variables": {
            "teamsEnabled": "[and(and(not(empty(parameters('teamsConnectionName'))), not(empty(parameters('teamsTargetTeamId')))), not(empty(parameters('teamsTargetChannelId'))))]",
            "sharePointEnabled": "[not(empty(parameters('sharePointSiteId')))]",
            "teamsConnectionId": "[if(variables('teamsEnabled'), resourceId('Microsoft.Web/connections', parameters('teamsConnectionName')), '')]",
            "teamsManagedApiId": "[if(variables('teamsEnabled'), subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'teams'), '')]",
            "requestSchema": {
              "type": "object",
              "properties": {
                "request_type": {
                  "type": "string"
                },
                "plan_title": {
                  "type": "string"
                },
                "plan_markdown": {
                  "type": "string"
                },
                "brochure_html": {
                  "type": "string"
                },
                "conversation_id": {
                  "type": "string"
                }
              },
              "required": [
                "request_type",
                "conversation_id"
              ]
            },
            "planFileNameExpression": "@{concat('travel-marketing-ai-', formatDateTime(utcNow(),'yyyyMMdd-HHmmss'), '-', triggerBody()?['conversation_id'], '-plan.md')}",
            "brochureFileNameExpression": "@{concat('travel-marketing-ai-', formatDateTime(utcNow(),'yyyyMMdd-HHmmss'), '-', triggerBody()?['conversation_id'], '-brochure.html')}",
            "planUploadUriTemplate": "https://graph.microsoft.com/v1.0/sites/__SITE_ID__/drive/root:/@{outputs('Compose_plan_file_name')}:/content",
            "brochureUploadUriTemplate": "https://graph.microsoft.com/v1.0/sites/__SITE_ID__/drive/root:/@{outputs('Compose_brochure_file_name')}:/content",
            "teamsChannelMessagePath": "/beta/teams/conversation/message/poster/User/location/Channel",
            "teamsConnectionReferenceTemplate": "@parameters('$connections')['__CONNECTION_NAME__']['connectionId']",
            "planUploadUri": "[replace(variables('planUploadUriTemplate'), '__SITE_ID__', parameters('sharePointSiteId'))]",
            "brochureUploadUri": "[replace(variables('brochureUploadUriTemplate'), '__SITE_ID__', parameters('sharePointSiteId'))]",
            "teamsConnectionReference": "[replace(variables('teamsConnectionReferenceTemplate'), '__CONNECTION_NAME__', parameters('teamsConnectionName'))]",
            "stubDefinition": {
              "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
              "contentVersion": "1.0.0.0",
              "triggers": {
                "manual": {
                  "type": "Request",
                  "kind": "Http",
                  "inputs": {
                    "schema": "[variables('requestSchema')]"
                  }
                }
              },
              "actions": {
                "Response": {
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 202,
                    "body": {
                      "status": "accepted",
                      "message": "Logic Apps workflow accepted the request"
                    }
                  }
                }
              }
            },
            "sharePointOnlyDefinition": {
              "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
              "contentVersion": "1.0.0.0",
              "triggers": {
                "manual": {
                  "type": "Request",
                  "kind": "Http",
                  "inputs": {
                    "schema": "[variables('requestSchema')]"
                  }
                }
              },
              "actions": {
                "Compose_plan_file_name": {
                  "type": "Compose",
                  "inputs": "[variables('planFileNameExpression')]",
                  "runAfter": {}
                },
                "Compose_brochure_file_name": {
                  "type": "Compose",
                  "inputs": "[variables('brochureFileNameExpression')]",
                  "runAfter": {}
                },
                "Upload_plan_markdown": {
                  "type": "Http",
                  "runAfter": {
                    "Compose_plan_file_name": [
                      "Succeeded"
                    ]
                  },
                  "inputs": {
                    "method": "PUT",
                    "uri": "[variables('planUploadUri')]",
                    "headers": {
                      "Content-Type": "text/markdown; charset=utf-8"
                    },
                    "body": "@{triggerBody()?['plan_markdown']}",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    }
                  }
                },
                "Upload_brochure_html": {
                  "type": "Http",
                  "runAfter": {
                    "Compose_brochure_file_name": [
                      "Succeeded"
                    ],
                    "Upload_plan_markdown": [
                      "Succeeded"
                    ]
                  },
                  "inputs": {
                    "method": "PUT",
                    "uri": "[variables('brochureUploadUri')]",
                    "headers": {
                      "Content-Type": "text/html; charset=utf-8"
                    },
                    "body": "@{triggerBody()?['brochure_html']}",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    }
                  }
                },
                "Response_succeeded": {
                  "type": "Response",
                  "kind": "Http",
                  "runAfter": {
                    "Upload_brochure_html": [
                      "Succeeded"
                    ]
                  },
                  "inputs": {
                    "statusCode": 202,
                    "body": {
                      "status": "accepted",
                      "conversation_id": "@{triggerBody()?['conversation_id']}",
                      "plan_file_url": "@{body('Upload_plan_markdown')?['webUrl']}",
                      "brochure_file_url": "@{body('Upload_brochure_html')?['webUrl']}"
                    }
                  }
                },
                "Response_failed_upload_plan": {
                  "type": "Response",
                  "kind": "Http",
                  "runAfter": {
                    "Upload_plan_markdown": [
                      "Failed",
                      "TimedOut"
                    ]
                  },
                  "inputs": {
                    "statusCode": 502,
                    "body": {
                      "status": "failed",
                      "stage": "upload_plan_markdown",
                      "conversation_id": "@{triggerBody()?['conversation_id']}"
                    }
                  }
                },
                "Response_failed_upload_brochure": {
                  "type": "Response",
                  "kind": "Http",
                  "runAfter": {
                    "Upload_brochure_html": [
                      "Failed",
                      "TimedOut"
                    ]
                  },
                  "inputs": {
                    "statusCode": 502,
                    "body": {
                      "status": "failed",
                      "stage": "upload_brochure_html",
                      "conversation_id": "@{triggerBody()?['conversation_id']}"
                    }
                  }
                }
              }
            },
            "teamsOnlyDefinition": {
              "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
              "contentVersion": "1.0.0.0",
              "parameters": {
                "$connections": {
                  "type": "Object",
                  "defaultValue": {}
                }
              },
              "triggers": {
                "manual": {
                  "type": "Request",
                  "kind": "Http",
                  "inputs": {
                    "schema": "[variables('requestSchema')]"
                  }
                }
              },
              "actions": {
                "Compose_channel_message": {
                  "type": "Compose",
                  "inputs": "@{concat('<p>旅行プランの承認後処理が完了しました。<br />タイトル: ', triggerBody()?['plan_title'], '<br />Conversation ID: ', triggerBody()?['conversation_id'], '</p>')}",
                  "runAfter": {}
                },
                "Post_channel_message": {
                  "type": "ApiConnection",
                  "runAfter": {
                    "Compose_channel_message": [
                      "Succeeded"
                    ]
                  },
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "[variables('teamsConnectionReference')]"
                      }
                    },
                    "method": "post",
                    "path": "[variables('teamsChannelMessagePath')]",
                    "body": {
                      "recipient": {
                        "groupId": "[parameters('teamsTargetTeamId')]",
                        "channelId": "[parameters('teamsTargetChannelId')]"
                      },
                      "messageBody": "@{outputs('Compose_channel_message')}"
                    }
                  }
                },
                "Response_succeeded": {
                  "type": "Response",
                  "kind": "Http",
                  "runAfter": {
                    "Post_channel_message": [
                      "Succeeded"
                    ]
                  },
                  "inputs": {
                    "statusCode": 202,
                    "body": {
                      "status": "accepted",
                      "conversation_id": "@{triggerBody()?['conversation_id']}",
                      "target_team_id": "[parameters('teamsTargetTeamId')]",
                      "target_channel_id": "[parameters('teamsTargetChannelId')]"
                    }
                  }
                },
                "Response_failed_post_message": {
                  "type": "Response",
                  "kind": "Http",
                  "runAfter": {
                    "Post_channel_message": [
                      "Failed",
                      "TimedOut"
                    ]
                  },
                  "inputs": {
                    "statusCode": 502,
                    "body": {
                      "status": "failed",
                      "stage": "post_channel_message",
                      "conversation_id": "@{triggerBody()?['conversation_id']}"
                    }
                  }
                }
              }
            },
            "sharePointAndTeamsDefinition": {
              "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
              "contentVersion": "1.0.0.0",
              "parameters": {
                "$connections": {
                  "type": "Object",
                  "defaultValue": {}
                }
              },
              "triggers": {
                "manual": {
                  "type": "Request",
                  "kind": "Http",
                  "inputs": {
                    "schema": "[variables('requestSchema')]"
                  }
                }
              },
              "actions": {
                "Compose_plan_file_name": {
                  "type": "Compose",
                  "inputs": "[variables('planFileNameExpression')]",
                  "runAfter": {}
                },
                "Compose_brochure_file_name": {
                  "type": "Compose",
                  "inputs": "[variables('brochureFileNameExpression')]",
                  "runAfter": {}
                },
                "Upload_plan_markdown": {
                  "type": "Http",
                  "runAfter": {
                    "Compose_plan_file_name": [
                      "Succeeded"
                    ]
                  },
                  "inputs": {
                    "method": "PUT",
                    "uri": "[variables('planUploadUri')]",
                    "headers": {
                      "Content-Type": "text/markdown; charset=utf-8"
                    },
                    "body": "@{triggerBody()?['plan_markdown']}",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    }
                  }
                },
                "Upload_brochure_html": {
                  "type": "Http",
                  "runAfter": {
                    "Compose_brochure_file_name": [
                      "Succeeded"
                    ],
                    "Upload_plan_markdown": [
                      "Succeeded"
                    ]
                  },
                  "inputs": {
                    "method": "PUT",
                    "uri": "[variables('brochureUploadUri')]",
                    "headers": {
                      "Content-Type": "text/html; charset=utf-8"
                    },
                    "body": "@{triggerBody()?['brochure_html']}",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    }
                  }
                },
                "Compose_channel_message": {
                  "type": "Compose",
                  "runAfter": {
                    "Upload_brochure_html": [
                      "Succeeded"
                    ]
                  },
                  "inputs": "@{concat('<p>旅行プランの承認後処理が完了しました。<br />タイトル: ', triggerBody()?['plan_title'], '<br />Conversation ID: ', triggerBody()?['conversation_id'], '<br />企画書: ', body('Upload_plan_markdown')?['webUrl'], '<br />ブローシャ: ', body('Upload_brochure_html')?['webUrl'], '</p>')}"
                },
                "Post_channel_message": {
                  "type": "ApiConnection",
                  "runAfter": {
                    "Compose_channel_message": [
                      "Succeeded"
                    ]
                  },
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "[variables('teamsConnectionReference')]"
                      }
                    },
                    "method": "post",
                    "path": "[variables('teamsChannelMessagePath')]",
                    "body": {
                      "recipient": {
                        "groupId": "[parameters('teamsTargetTeamId')]",
                        "channelId": "[parameters('teamsTargetChannelId')]"
                      },
                      "messageBody": "@{outputs('Compose_channel_message')}"
                    }
                  }
                },
                "Response_succeeded": {
                  "type": "Response",
                  "kind": "Http",
                  "runAfter": {
                    "Post_channel_message": [
                      "Succeeded"
                    ]
                  },
                  "inputs": {
                    "statusCode": 202,
                    "body": {
                      "status": "accepted",
                      "conversation_id": "@{triggerBody()?['conversation_id']}",
                      "plan_file_url": "@{body('Upload_plan_markdown')?['webUrl']}",
                      "brochure_file_url": "@{body('Upload_brochure_html')?['webUrl']}",
                      "target_team_id": "[parameters('teamsTargetTeamId')]",
                      "target_channel_id": "[parameters('teamsTargetChannelId')]"
                    }
                  }
                },
                "Response_failed_upload_plan": {
                  "type": "Response",
                  "kind": "Http",
                  "runAfter": {
                    "Upload_plan_markdown": [
                      "Failed",
                      "TimedOut"
                    ]
                  },
                  "inputs": {
                    "statusCode": 502,
                    "body": {
                      "status": "failed",
                      "stage": "upload_plan_markdown",
                      "conversation_id": "@{triggerBody()?['conversation_id']}"
                    }
                  }
                },
                "Response_failed_upload_brochure": {
                  "type": "Response",
                  "kind": "Http",
                  "runAfter": {
                    "Upload_brochure_html": [
                      "Failed",
                      "TimedOut"
                    ]
                  },
                  "inputs": {
                    "statusCode": 502,
                    "body": {
                      "status": "failed",
                      "stage": "upload_brochure_html",
                      "conversation_id": "@{triggerBody()?['conversation_id']}"
                    }
                  }
                },
                "Response_failed_post_message": {
                  "type": "Response",
                  "kind": "Http",
                  "runAfter": {
                    "Post_channel_message": [
                      "Failed",
                      "TimedOut"
                    ]
                  },
                  "inputs": {
                    "statusCode": 502,
                    "body": {
                      "status": "failed",
                      "stage": "post_channel_message",
                      "conversation_id": "@{triggerBody()?['conversation_id']}"
                    }
                  }
                }
              }
            }
          },
          "resources": {
            "logicApp": {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[parameters('name')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": "[if(and(variables('sharePointEnabled'), variables('teamsEnabled')), variables('sharePointAndTeamsDefinition'), if(variables('sharePointEnabled'), variables('sharePointOnlyDefinition'), if(variables('teamsEnabled'), variables('teamsOnlyDefinition'), variables('stubDefinition'))))]",
                "parameters": "[if(variables('teamsEnabled'), createObject('$connections', createObject('value', createObject(format('{0}', parameters('teamsConnectionName')), createObject('connectionId', variables('teamsConnectionId'), 'connectionName', parameters('teamsConnectionName'), 'id', variables('teamsManagedApiId'))))), createObject())]"
              }
            },
            "manualTrigger": {
              "existing": true,
              "type": "Microsoft.Logic/workflows/triggers",
              "apiVersion": "2019-05-01",
              "name": "[format('{0}/{1}', parameters('name'), 'manual')]",
              "dependsOn": [
                "logicApp"
              ]
            }
          },
          "outputs": {
            "id": {
              "type": "string",
              "value": "[resourceId('Microsoft.Logic/workflows', parameters('name'))]"
            },
            "name": {
              "type": "string",
              "value": "[parameters('name')]"
            },
            "callbackUrl": {
              "type": "securestring",
              "value": "[listCallbackUrl('manualTrigger', '2019-05-01').value]"
            },
            "principalId": {
              "type": "string",
              "value": "[reference('logicApp', '2019-05-01', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "rg"
      ]
    },
    "cosmosDb": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "cosmos-db",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "name": {
            "value": "[format('{0}{1}', variables('abbrs').cosmosDb, variables('resourceToken'))]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[variables('tags')]"
          },
          "privateEndpointsSubnetId": {
            "value": "[reference('vnet').outputs.privateEndpointsSubnetId.value]"
          },
          "vnetId": {
            "value": "[reference('vnet').outputs.id.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "14003567375872034540"
            }
          },
          "parameters": {
            "name": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "privateEndpointsSubnetId": {
              "type": "string",
              "defaultValue": ""
            },
            "vnetId": {
              "type": "string",
              "defaultValue": ""
            }
          },
          "resources": [
            {
              "type": "Microsoft.DocumentDB/databaseAccounts",
              "apiVersion": "2024-05-15",
              "name": "[parameters('name')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "kind": "GlobalDocumentDB",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "databaseAccountOfferType": "Standard",
                "capabilities": [
                  {
                    "name": "EnableServerless"
                  }
                ],
                "locations": [
                  {
                    "locationName": "[parameters('location')]",
                    "failoverPriority": 0
                  }
                ],
                "disableLocalAuth": true,
                "consistencyPolicy": {
                  "defaultConsistencyLevel": "Session"
                }
              }
            },
            {
              "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases",
              "apiVersion": "2024-05-15",
              "name": "[format('{0}/{1}', parameters('name'), 'travel-marketing')]",
              "properties": {
                "resource": {
                  "id": "travel-marketing"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('name'))]"
              ]
            },
            {
              "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
              "apiVersion": "2024-05-15",
              "name": "[format('{0}/{1}/{2}', parameters('name'), 'travel-marketing', 'conversations')]",
              "properties": {
                "resource": {
                  "id": "conversations",
                  "partitionKey": {
                    "paths": [
                      "/user_id"
                    ],
                    "kind": "Hash"
                  },
                  "indexingPolicy": {
                    "indexingMode": "consistent",
                    "includedPaths": [
                      {
                        "path": "/status/?"
                      },
                      {
                        "path": "/created_at/?"
                      }
                    ],
                    "excludedPaths": [
                      {
                        "path": "/*"
                      }
                    ]
                  },
                  "defaultTtl": 2592000
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.DocumentDB/databaseAccounts/sqlDatabases', parameters('name'), 'travel-marketing')]"
              ]
            },
            {
              "condition": "[not(empty(parameters('privateEndpointsSubnetId')))]",
              "type": "Microsoft.Network/privateEndpoints",
              "apiVersion": "2024-05-01",
              "name": "[format('pep-{0}', parameters('name'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "subnet": {
                  "id": "[parameters('privateEndpointsSubnetId')]"
                },
                "privateLinkServiceConnections": [
                  {
                    "name": "[format('{0}-connection', parameters('name'))]",
                    "properties": {
                      "privateLinkServiceId": "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('name'))]",
                      "groupIds": [
                        "Sql"
                      ]
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('name'))]"
              ]
            },
            {
              "condition": "[not(empty(parameters('privateEndpointsSubnetId')))]",
              "type": "Microsoft.Network/privateDnsZones",
              "apiVersion": "2024-06-01",
              "name": "privatelink.documents.azure.com",
              "location": "global",
              "tags": "[parameters('tags')]"
            },
            {
              "condition": "[not(empty(parameters('privateEndpointsSubnetId')))]",
              "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
              "apiVersion": "2024-06-01",
              "name": "[format('{0}/{1}', 'privatelink.documents.azure.com', format('{0}-vnet-link', parameters('name')))]",
              "location": "global",
              "properties": {
                "virtualNetwork": {
                  "id": "[parameters('vnetId')]"
                },
                "registrationEnabled": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.documents.azure.com')]"
              ]
            },
            {
              "condition": "[not(empty(parameters('privateEndpointsSubnetId')))]",
              "type": "Microsoft.Network/privateEndpoints/privateDnsZoneGroups",
              "apiVersion": "2024-05-01",
              "name": "[format('{0}/{1}', format('pep-{0}', parameters('name')), 'default')]",
              "properties": {
                "privateDnsZoneConfigs": [
                  {
                    "name": "cosmos-config",
                    "properties": {
                      "privateDnsZoneId": "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.documents.azure.com')]"
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.documents.azure.com')]",
                "[resourceId('Microsoft.Network/privateEndpoints', format('pep-{0}', parameters('name')))]"
              ]
            }
          ],
          "outputs": {
            "id": {
              "type": "string",
              "value": "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('name'))]"
            },
            "name": {
              "type": "string",
              "value": "[parameters('name')]"
            },
            "endpoint": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('name')), '2024-05-15').documentEndpoint]"
            }
          }
        }
      },
      "dependsOn": [
        "rg",
        "vnet"
      ]
    },
    "cosmosDbAccess": {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "cosmos-db-access",
      "resourceGroup": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "cosmosAccountName": {
            "value": "[reference('cosmosDb').outputs.name.value]"
          },
          "principalId": {
            "value": "[reference('containerApp').outputs.principalId.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "10449253429774801544"
            }
          },
          "parameters": {
            "cosmosAccountName": {
              "type": "string"
            },
            "principalId": {
              "type": "string"
            }
          },
          "variables": {
            "cosmosDataContributorRoleId": "00000000-0000-0000-0000-000000000002"
          },
          "resources": [
            {
              "type": "Microsoft.DocumentDB/databaseAccounts/sqlRoleAssignments",
              "apiVersion": "2024-05-15",
              "name": "[format('{0}/{1}', parameters('cosmosAccountName'), guid(resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosAccountName')), parameters('principalId'), variables('cosmosDataContributorRoleId')))]",
              "properties": {
                "roleDefinitionId": "[format('{0}/sqlRoleDefinitions/{1}', resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosAccountName')), variables('cosmosDataContributorRoleId'))]",
                "principalId": "[parameters('principalId')]",
                "scope": "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosAccountName'))]"
              }
            }
          ]
        }
      },
      "dependsOn": [
        "containerApp",
        "cosmosDb",
        "rg"
      ]
    }
  },
  "outputs": {
    "AZURE_CONTAINER_REGISTRY_ENDPOINT": {
      "type": "string",
      "value": "[reference('acr').outputs.loginServer.value]"
    },
    "AZURE_CONTAINER_REGISTRY_NAME": {
      "type": "string",
      "value": "[reference('acr').outputs.name.value]"
    },
    "AZURE_CONTAINER_APP_NAME": {
      "type": "string",
      "value": "[reference('containerApp').outputs.name.value]"
    },
    "AZURE_AI_PROJECT_ENDPOINT": {
      "type": "string",
      "value": "[format('https://{0}.services.ai.azure.com/api/projects/{1}', reference('aiFoundry').outputs.name.value, reference('aiProject').outputs.name.value)]"
    },
    "AZURE_AI_PROJECT_NAME": {
      "type": "string",
      "value": "[reference('aiProject').outputs.name.value]"
    },
    "AZURE_AI_FOUNDRY_NAME": {
      "type": "string",
      "value": "[reference('aiFoundry').outputs.name.value]"
    },
    "MODEL_NAME": {
      "type": "string",
      "value": "[variables('defaultModelDeploymentName')]"
    },
    "IMAGE_MODEL_NAME": {
      "type": "string",
      "value": "[variables('defaultImageModelDeploymentName')]"
    },
    "AZURE_APIM_NAME": {
      "type": "string",
      "value": "[reference('apim').outputs.name.value]"
    },
    "AZURE_APIM_GATEWAY_URL": {
      "type": "string",
      "value": "[reference('apim').outputs.gatewayUrl.value]"
    },
    "IMPROVEMENT_MCP_ENDPOINT": {
      "type": "string",
      "value": "[variables('improvementMcpEndpoint')]"
    },
    "AZURE_LOGIC_APP_NAME": {
      "type": "string",
      "value": "[reference('logicApp').outputs.name.value]"
    },
    "AZURE_RESOURCE_GROUP": {
      "type": "string",
      "value": "[format('{0}{1}', variables('abbrs').resourceGroup, parameters('environmentName'))]"
    },
    "COSMOS_DB_ENDPOINT": {
      "type": "string",
      "value": "[reference('cosmosDb').outputs.endpoint.value]"
    },
    "SERVICE_WEB_ENDPOINTS": {
      "type": "array",
      "value": [
        "[reference('containerApp').outputs.uri.value]"
      ]
    }
  }
}